
/* V1
.comment-section
{
    padding-top: 30px;
}

.comment-avatar
{
    padding-right: 5px;
}

*/

.comment-section
{
    padding: 10px;
    margin-top: 10px;
    
    border-top: 1px solid #DADADA;
}

.comment-list
{
    list-style:none;
}

.comment-avatar
{
    width: 32px;
    height: 100%;
    float: left;
}

.comment-avatar a > img
{
    width: 100%;
    border-radius: 50%;
}

.comment-list li 
{
    margin-top:10px;
}

.comment-text p 
{
    margin:0;
    padding-left: 10px;
}

.comment-list li > div 
{
    display:table-cell;
}

.sub-text 
{
    color:#aaa;
    font-family:verdana;
    font-size:11px;
    padding-left: 10px;
}

.add-comment
{
    margin-left: 20px;
}
