---
layout: default
title: Home
---

<div class="catalogue">
  {% for post in paginator.posts %}
  <div class="catalogue-item">
    <a href="{{ post.url | prepend: site.url }}" class="nohighlight">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>
      </div>
    </a>
    {% for tag in post.tag %}
      <div onclick="location.href='/search?query={{tag|downcase}}';" class="badge badge-secondary">{{tag | downcase}}</div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="left arrow">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="right arrow">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
<!-- 
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        {{page}}
      {% else %}
        <a href="{{site.paginate_path | prepend: site.base_url | replace: '//', '/' | replace: ':num', page }}">{{page}}</a>
      {% endif %}
    {% endfor %}
  </span>
</div> -->
