---
layout: default
title: Search
permalink: /search/
---

<div align="center">
    <form action="/search" method="get" class="searchbox">
        <input type="text" id="search-box" name="query" />
        <input type="submit" value="search" />
    </form>
</div>

<div id="search-results" class="catalogue">
</div>

<div>
    {% assign all_tags = site.posts | map: "tag" | join: "," | downcase | split: "," | uniq | sort %}
    
    {% for current_tag in all_tags %}
        <strong>{{current_tag}}</strong>
        <ul>
            {% for post in site.posts %}
                {% assign post_tags = post.tag | join: "," | downcase | split: "," %}
                {% if post_tags contains current_tag %}
                    <li><a href="{{post.url}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

<script>
    window.store = {
        {% for post in site.posts %}
            "{{ post.url | slugify }}": {
                "title": "{{ post.title | xml_escape }}",
                "tags": "{{post.tag | join: ' '}}",
                "content": {{ post.content | strip_html | strip_newlines | jsonify }},
                "url": "{{post.url | xml_escape}}",
                "date": "{{post.date}}",
                "date_str": "{{post.date | date: '%B %d, %Y' }}"
            },
        {% endfor %}
    };

</script>

<script type="text/javascript" src="{{ site.baseurl }}/static/js/lunr.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/search.js"></script>

