



<!-- Material Design CSS -->
<!--


-->
<!-- syntax highlighting CSS -->
<!--
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">
-->

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap-theme.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
<!-- Custom Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" type="text/css">
<!-- FontAwesome icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/74dfc6cf47.css">