
<!-- Custom Fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

<!-- FontAwesome icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/74dfc6cf47.css">

<!-- Material Design CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/materialize.min.css">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
