<!-- Tailwind CSS via CDN (Play CDN for static deployment) -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- Tailwind Configuration -->
<script>
  tailwind.config = {
    darkMode: 'class',
    theme: {
      extend: {
        colors: {
          primary: '#22c55e',
        },
        fontFamily: {
          serif: ['Libre Baskerville', 'Times New Roman', 'Times', 'serif'],
          sans: ['Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'],
        },
      },
    },
  }
</script>

<!-- Custom Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" type="text/css">

<!-- FontAwesome icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/74dfc6cf47.css">

<!-- Syntax Highlighting CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">

<!-- Custom CSS overrides -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/custom.css">