
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" role="navigation">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-pages">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{site.title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu-pages">

            <ul class="nav navbar-nav">
                <li><a href="https://github.com/{{site.github_username}}">Github</a></li>
                <!-- Info Pages -->
                <!--
                {% for page in site.pages %}
                    {% if page.title%}
                        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                -->
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/resume/">Resume</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <!-- Search Bar -->
                <li>
                    <form class="navbar-form" id="Search" action="search.html">
                        <div class="form-group has-feedback">
                            <input name="tags" id="etSearch" type="text" class="form-control" placeholder="Search Tags" />
                            <i class="glyphicon glyphicon-search form-control-feedback"></i>
                        </div>
                    </form>
                </li>
            </ul>
            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>