<ul id="slide-out" class="side-nav grey darken-4 z-depth-5">
    <li>
        <div class="userView">
            <div class="background">
                <img src="/static/img/user-back.png" />
            </div>
            <a href="#!user"><img class="circle" src="https://avatars3.githubusercontent.com/u/8395093?v=3&s=460" height="64" width="64"/></a>
            <a href="#!name"><span class="white-text name">Natesh Narain</span></a>
            <a href="#!email"><span class="white-text email">nnaraindev@gmail.com</span></a>
        </div>
    </li>
    <li><a href="https://github.com/nnarain">Github</a></li>
    <li><a href="https://www.youtube.com/channel/UCVYy1Jiww7YAsgEFD2CSQSw">Youtube</a></li>
    <li><div class="divider"></div></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse">Menu</a>
