<ul id="slide-out" class="side-nav grey darken-4 z-depth-5">
    <li>
        <div class="userView">
            <div class="background">
                <img src="/static/img/user-back.png" />
            </div>
            <a href="#!user"><img class="circle" src="https://avatars3.githubusercontent.com/u/8395093?v=3&s=460" height="64" width="64"/></a>
            <a href="#!name"><span class="white-text name">{{site.author}}</span></a>
            <a mailto="{{site.email}}"><span class="white-text email">{{site.email}}</span></a>
        </div>
    </li>
    <li><a href="/">Home</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">About</a></li>
    <li><div class="divider"></div></li>
    <li><a href="{{site.github_url}}">Github</a></li>
    <li><a href="{{site.youtube_url}}">Youtube</a></li>
    <li><div class="divider"></div></li>
</ul>
