<!DOCTYPE html>
<html>
    
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="page-content">

        {{ content }}

    </div>

    {% include footer.html %}
      
    <script type="text/javascript">
        // enable tool tips
        $('[data-toggle="tooltip"]').tooltip();
        
        $(document).ready(function(){
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>

  </body>

</html>