<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        {% include css.html %}
    </head>

    <body>
        {% include header.html %}
        {% include sidemenu.html %}
        <div class="container">
            {{ content }}
        </div>
        {% include footer.html %}

        {% include js.html %}

        <!--
            {% include analytics.html %}
        -->
    </body>
</html>
