---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1 col-md-3"></div>
        <div class="col-xs-10 col-md-6">
            <header class="post-header">
                <h1 class="post-title">{{page.title}}</h1>
                <p class="post-meta">
                    {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
                </p>
                {% if page.repo_url %}
                    <a href="{{page.repo_url}}"><span class="label label-success"><i class="glyphicon glyphicon-globe"></i>  View Repository</span></a>
                    <br>
                {% endif %}
                
                {% if page.prev_post %}
                    <a href="/{{page.prev_post | replace: '-', '/'}}.html">
                        <span class="label label-success" data-toggle="tooltip" data-placement="bottom" title="{{page.prev_post | split: '-' | last}}"><i class="glyphicon glyphicon-arrow-left"></i> Previous</span>
                    </a>
                {% endif %}
                {% if page.next_post %}
                    <a href="/{{page.next_post | replace: '-', '/'}}.html">
                        <span class="label label-success" data-toggle="tooltip" data-placement="bottom" title="{{page.next_post | split: '-' | last}}">Next <i class="glyphicon glyphicon-arrow-right"></i></span>
                    </a>
                {% endif %}
                
            </header>
            
            <article>
                {{content}}
            </article>
            
                {% if page.prev_post %}
                    <a href="/{{page.prev_post | replace: '-', '/'}}.html">
                        <span class="label label-success" data-toggle="tooltip" data-placement="bottom" title="{{page.prev_post | split: '-' | last}}"><i class="glyphicon glyphicon-arrow-left"></i> Previous</span>
                    </a>
                {% endif %}
                {% if page.next_post %}
                    <a href="/{{page.next_post | replace: '-', '/'}}.html">
                        <span class="label label-success" data-toggle="tooltip" data-placement="bottom" title="{{page.next_post | split: '-' | last}}">Next <i class="glyphicon glyphicon-arrow-right"></i></span>
                    </a>
                {% endif %}
        </div>
        <div class="col-xs-1 col-md-3"></div>
    </div>
    
    <!-- Comment Section -->
    {% if page.issue_number %}

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!--
                <div id="comment-section" class="comment-section">
                </div>
                -->
                
                <div id="commentSection" class="comment-section">
                    <h3>Comments</h4>
                    <h4>Click <a href="https://github.com/nnarain/nnarain.github.io/issues/{{page.issue_number}}">here</a> to view the issue tracker</h4>
                    <ul id="commentList" class="comment-list">
                    </ul>
                    
                    <form id="addCommentForm" class="add-comment" role="form">
                        <!--
                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="A Github account is required"></i>
                        -->
                        <div class="form-group">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#rawTextField" aria-controls="commentTextField" role="tab" data-toggle="tab">Comment</a>
                                </li>
                                <li role="presentation" id="previewLink">
                                    <a href="#markdownPreview" aria-controls="markdownPreview" role="tab" data-toggle="tab">Preview</a>
                                </li>
                            </ul>
                            <div class="tab-content preview-section">
                                <div role="tabpanel" class="tab-pane active" id="rawTextField">
                                    <textarea class="form-control" rows="7" id="commentTextField"></textarea>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="markdownPreview">
                                    <!--
                                    <textarea readonly class="form-control" rows="7" id="markdownPreviewText"></textarea>
                                    -->
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
                
                <!--
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#credDialog">Open Modal</button>
                -->
                <!-- Modal for Github Credentials -->
                <div id="credDialog" class="modal fade" role="dialog">
                    <div class="modal-dialog"> 
                        <!-- Modal Content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Enter Github Username and Password</h4>
                            </div>
                            <div class="modal-body">
                                <form id="credForm" class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="usernameField" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="passwordField" placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal no text in comment warning -->
                <div id="warningDialog" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal Content -->
                        <div class="modal-content panel-warning">
                            <div class="modal-header panel-heading">
                                Comment is empty!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %} 
</div>

<script type="text/javascript">

$("#Search :input").prop("disabled", true);

// enable tool tips
$('[data-toggle="tooltip"]').tooltip();
   
function generateCommentPanel(comment)
{
    var output = '';
    
    output += '<li>';
    {
        output += '<div class="comment-avatar">';
        {
            output += '<a href="' + comment.user.url + '">';
            {
                output += '<img src="' + comment.user.avatar_url + '"/>';
            }
            output += '</a>';
        }
        output += '</div>';
        output += '<div class="comment-text">';
        {
            output += '<p>';
            {
                output += comment.body;
            }
            output += '</p>';
            output += '<span class="date sub-text">' + comment.date.split('T')[0] + '</span>';
        }
        output += '</div>';
    }
    output += '</li>';
    
    return output;
}
    
/**
    Generate the comment section for the comments recieved
*/
function generateCommentSection(data)
{
    var comments = data.comments;
    var len = comments.length;

    var output = '';
    
    for(var i = 0; i < len; ++i)
    {
        var comment = comments["" + i];
        output += generateCommentPanel(comment);
    }
    
    $("#commentList").html(output);
}
 
function setupAddComments()
{
    // disable the default action of the add comment form
    $("#addCommentForm").submit(function(event){
        event.preventDefault();
        
        var commentText = $("#commentTextField").val();
        
        if(commentText)
        {
            $("#credDialog").modal();
        }
        else
        {
            $("#warningDialog").modal();
        }
    });
}
    
function setupPostComment()
{
    // focus on the username input field when credential form is displayed
    $("#credDialog").on('shown.bs.modal', function(){
        console.log("here");
        $("#usernameField").focus();
    });
    
    $("#credForm").submit(function(event){
        event.preventDefault();
        
        var username = $("#usernameField").val();
        var password = $("#passwordField").val();
        
        var commentBody = $("#commentTextField").val();
    
        if(username && password && commentBody)
        {
            $.ajax({
                type:"POST",
                url: "https://api.github.com/repos/nnarain/nnarain.github.io/issues/{{page.issue_number}}/comments",
                dataType: "json",
                contentType:"application/json",
                data:JSON.stringify({"body":commentBody}),
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Authorization", makeBasicAuth(username, password));
                },
                success:function(data){
                    location.reload();
                },
                error: function(xhr, ajaxOptions, error){
                    console.log(xhr.responseText);
                }
            });
        }
    });
}
    
function setupPreview()
{
    $("#previewLink").click(function(){
        // get the markdown formatted text in the comment section and convert to html
        var markdownContent = $("#commentTextField").val();
        var htmlText = getMarkdownPreview(markdownContent);
        $("#markdownPreview").html(htmlText);
    });
}
    
// if this page has a comment section
{% if page.issue_number %}


$(document).ready(function(){
    // get comment data
    getPostComments("{{page.issue_number}}", function(data){
        generateCommentSection(data);
        setupAddComments();
        setupPostComment();
        setupPreview();
    });

});
{% endif %}

</script>